<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
</head>
<body>
<h1>Добро пожаловать!</h1>
<p>Выберите один из следующих разделов:</p>

<a href="{{ path('developers_list') }}" class="btn btn-success">Разработчики</a>
<p>Перейдите в раздел "Разработчики", чтобы увидеть список всех разработчиков.</p>

<a href="{{ path('projects_list') }}" class="btn btn-success">Проекты</a>
<p>Перейдите в раздел "Проекты", чтобы ознакомиться с текущими и завершенными проектами.</p>

<a href="{{ path('statistics') }}" class="btn btn-success">Статистика</a>
<p>Перейдите в раздел "Статистика", чтобы ознакомиться с текущими и завершенными проектами.</p>

<a href="{{ path('create_migration') }}" class="btn btn-success">Создание миграции</a>
<p>Перейдите в раздел "Создание миграции", чтобы создать миграцию.</p>

<a href="{{ path('apply_migration') }}" class="btn btn-success">Выполнение миграции</a>
<p>Перейдите в раздел "Выполнение миграции",  чтобы выполнить миграцию.</p>
</body>
</html>
