<h1>Разработчики</h1>

<ul class="developer-list">
    {% for developer in developers %}
        <li class="developer-item">
            <strong>Имя:</strong> {{ developer.name }}<br>
            <strong>Фамилия:</strong> {{ developer.surname }}<br> <!-- Новое поле -->
            <strong>Отчество:</strong> {{ developer.fullname }}<br> <!-- Новое поле -->
            <strong>Должность:</strong> {{ developer.position }}<br>
            <strong>Email:</strong> {{ developer.email }}<br>
            <strong>Телефон:</strong> {{ developer.phone }}<br>
            <strong>Статус:</strong>
            <span class="{{ developer.isActive ? 'text-success' : 'text-danger' }}">
            {{ developer.isActive ? 'Активный' : 'Неактивный' }}
            </span>
            <br>
            <a href="{{ path('developer_transfer', { id: developer.id }) }}" class="btn btn-primary">Редактирование/Перемещение на другой проект</a>
            <p>Перейдите по этой ссылке, чтобы редактировать информацию о разработчике или переместить его на другой проект.</p>
            <br>
            <form action="{{ path('developer_fire', { id: developer.id }) }}" method="post" style="display:inline;">
                <button type="submit" class="btn btn-danger">Уволить разработчика</button>
            </form>
            <p>Нажмите кнопку, чтобы уволить данного разработчика из компании.</p>
        </li>
        <hr>
    {% endfor %}
</ul>

<a href="{{ path('developer_add') }}" class="btn btn-success">Добавить нового разработчика</a>
<p>Перейдите по этой ссылке, чтобы добавить нового разработчика в список.</p>
<br>
<a href="{{ path('home') }}" class="btn btn-success">Вернуться на главную страницу</a>